<section class="jumbotron text-center">
  <h1 class="display-4">{{this.headerMessage}}</h1>
  <p class="lead">This is an example form for invitation. <br> Start building your own application, follow my
    free
    <a href="https://nauman-shahid.medium.com/" target="_blank" rel="noopener noreferrer">Medium</a>.
  </p>
  <hr class="my-4">
  <p>Don't forget to check out other menu points.</p>

  <div class="form-row justify-content-center">
    <div class="col-md-6">
      <Input @type="email"
             @value={{this.emailAddress}}
             class="form-control"
             placeholder="Please type your e-mail address."
             @autofocus="autofocus"/>
    </div>
    <div class="col-md-2">
      <button type="button"
              class="btn btn-primary btn"
              disabled={{this.isDisabled}}
        {{on 'click' (fn this.saveInvitation)}}
      >
        Submit
      </button>
    </div>
  </div>

  {{#if this.responseMessage}}
    <div class="alert alert-success mt-3" role="alert">{{this.responseMessage}}</div>
  {{/if}}
</section>